@keyframes highlight {
  0% {
    width: 0;
    transform: translateY(0);
  }
  100% {
    width: 100%;
    transform: translateY(0);
  }
}

@keyframes highlight-reverse {
  0% {
    width: 0;
    transform: translateY(0);
  }
  100% {
    width: 100%;
    transform: rotate(0deg);
  }
}

.highlight {
  display: inline-block;
  position: relative;
}

.highlight::before {
  content: '';
  position: absolute;
  bottom: 0.1em;
  left: 0;
  bottom: -0,6rem;
  height: 0.8em;
  width: 100%;
  background: linear-gradient(90deg, rgba(212, 175, 53, 0.173) 0%, rgba(212, 175, 53, 0.282) 50%, rgba(212, 175, 53, 0.381) 100%);
  transform-origin: left;
  transform: scaleX(0);
  border-radius: 1em 0 1em 0;
  animation: highlight 1s linear forwards;
}

.highlight::after {
  content: '';
  position: absolute;
  right: 0;
  height: 0.8em;
  width: 100%;
  background: linear-gradient(90deg, rgba(212, 175, 53, 0.188) 100%, rgba(212, 175, 53, 0.282) 50%, rgba(212, 175, 53, 0.374) 0%);
  transform-origin: right;
  transform: scaleX(0);
  border-radius: 1em 0 1em 0;
  animation: highlight-reverse 1s linear 1s forwards;
}
